@model BloodBank.Models.YeuCauMau

@{
    ViewBag.Title = "Chi tiết Yêu cầu máu";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>ID Bệnh Nhân</dt>
        <dd>@Html.DisplayFor(model => model.IDBenhNhan)</dd>

        <dt>Loại Máu</dt>
        <dd>@Html.DisplayFor(model => model.LoaiMau)</dd>

        <dt>Lượng Yêu Cầu (ML)</dt>
        <dd>@Html.DisplayFor(model => model.LuongMauYeuCau)</dd>

        <dt>Ngày Yêu Cầu</dt>
        <dd>@Model.NgayYC.ToString("dd/MM/yyyy")</dd>

        <dt>Trạng Thái</dt>
        <dd>@Html.DisplayFor(model => model.TrangThai)</dd>

        <dt>Ngân Hàng Máu</dt>
        <dd>@Html.DisplayFor(model => model.NganHangMau.DiaDiem)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.IDYeuCau }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>